#logo {
    width: 100px;
}

.d-flex {
    margin: 0 auto;
}

hr {
    border: 0.4px solid black;
 }

 #section-b {
    text-align: center;
    margin-bottom: 50px;
 }

 #section-c {
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .card {
    border: none;
    padding-bottom: 20px;
}

.card-rapper{
   border: 1px solid rgba(0, 0, 0, 0.295);
   border-radius: 0.25 rem ;
}

.review {
    padding-top: 15px;
}

#X {
    position: absolute;
    top: 0;
    right: 0;
}

#specifchomestay{
    display: block;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: black;
    overflow-y: scroll;
    height: 100%;
}