#logo {
    width: 100px;
}

.d-flex {
    margin: 0 auto;
}


hr {
    border: 0.4px solid black;
 }

 #section-b {
    text-align: center;
    margin-bottom: 50px;
 }

 #section-c {
     margin-top: 50px;
     margin-bottom: 50px;
 }