#logo {
    width: 100px;
}

#section1{
    background-image: url("https://previews.123rf.com/images/lesniewski/lesniewski1911/lesniewski191100003/133153795-administrative-map-of-the-california-region-san-francisco-bay-area.jpg");
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
}
